<img src="<%= image_url %>" class="channel-image-list">
<span class="channel-title-list"><%= title %></span>
<div class="channel-item-count">Item count: <%= item_count %></div>
<div class="channel-last-pub-date">Last item published: <%= last_pub_date %></div>