%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Stupod"
      %button#btn-login.btn.btn-primary.btn-margin< Log In
      %button#btn-logout.btn.btn-primary.btn-margin< Log Out
      #login-status< Not Logged In
